@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* Theme (Bạn có thể chọn theme khác như lara-light-blue, v.v.) */
@import "primereact/resources/themes/lara-light-cyan/theme.css";

/* Core CSS của các Component */
@import "primereact/resources/primereact.min.css";

/* Icons (Cực kỳ quan trọng để hiện mũi tên pi-chevron-left) */
@import "primeicons/primeicons.css";

/* PrimeFlex (Nếu bạn dùng các class tiện ích của Prime thay vì Tailwind) */
/* @import "primeflex/primeflex.css"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --breakpoint-3xl: 120rem;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1.1); /* Lên 110% */
    }
    50% {
      transform: scale(0.9); /* Xuống 90% */
    }
  }

  @keyframes light-heartbeat {
    0%,
    100% {
      transform: scale(1.02); /* Lên 110% */
    }
    50% {
      transform: scale(0.98); /* Xuống 90% */
    }
  }

  @keyframes sequence-heartbeat {
    0%,
    33.3% {
      transform: scale(0.9);
    } /* Nghỉ */
    16.6% {
      transform: scale(1.1);
    } /* Đập ở giữa quãng của nó */
    33.4%,
    100% {
      transform: scale(0.9);
    } /* Nghỉ phần còn lại */
  }

  /* Chỉ định nghĩa keyframes, timing và loop. 
     Bỏ qua duration hoặc để mặc định rất nhỏ để dễ nhận biết khi bị ghi đè */
  --animate-scroll-left: marquee linear infinite;
  --animate-scroll-right: marquee linear infinite reverse;
  --animate-heartbeat: heartbeat 1.5s ease-in-out infinite;
  --animate-light-heartbeat: light-heartbeat 2s ease-in-out infinite;
  --animate-sequence-heartbeat-1: sequence-heartbeat 6s infinite;
  --animate-sequence-heartbeat-2: sequence-heartbeat 6s infinite 2s;
  --animate-sequence-heartbeat-3: sequence-heartbeat 6s infinite 4s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat) !important;
}
